name: API Tests

on:
  push:
  pull_request:

jobs:
  api-tests:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.13'

    - name: Install dependencies
      run: |
        pip install -r requirements.txt

    - name: Start flask
      run: |
        cd $GITHUB_WORKSPACE
        export PYTHONPATH=$GITHUB_WORKSPACE
        flask --app api run --host=0.0.0.0 --port=5000 &
        sleep 5

    - name: Execute API tests
      run: |
        python3 -m pytest tests/api
