name: API Tests

on:
  push:
  pull_request:

jobs:
  api-tests:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.13'

    - name: Install dependencies
      run: |
        pip install -r requirements.txt

    - name: Start flask
      run: |
        export PYTHONPATH=$GITHUB_WORKSPACE
        flask --app api run --host=127.0.0.1 --port=5000 > flask.log 2>&1 &
        sleep 10
        cat flask.log
    

    - name: Execute API tests
      run: |
        python3 -m pytest tests/api
